{% extends "base.html" %}
{% block title %}
    {{super()}}
    About Us
{% endblock title%}

{% block page_content %}
	<div class = "list-group">
		<span class = "list-group-item">
			<h3 class = "text-muted">Our Contacts</h3>
			<blockquote class = "blockquote">
			<p>
			Telephone : 
			<span class = "text-primary">
				+254-725-820-868 +254-725-820-868
			</span>
			<br>Email : ourdigitaltimes@gmail.com
			<br>Fax : 787-897-000
			</p>
			<h3>
				<a class = "btn btn-success">
					Subscribe to our newsletter
				</a>
			</h3>
			</blockquote>
			<h3 class = "text-muted">Our Working Hours</h3>
			<blockquote class = "blockquote">
			<div class = "row">
				<div class = "col-sm-6">
					Monday - Friday
				</div>
				<div class = "col-sm-6">
					9am - 5pm
				</div>
			</div>
			<div class = "row">
				<div class = "col-sm-6">
					Saturday
				</div>
				<div class = "col-sm-6">
					9am - 1pm
				</div>
			</div>
			<div class = "row">
				<div class = "col-sm-6">
					Sunday
				</div>
				<div class = "col-sm-6 text-danger">
					<b>closed</b>
				</div>
			</div>
			</blockquote>
		</span>
	</div>
</div>
{% endblock page_content %}
