{% extends "base.html" %}
{% block title %}
    {{super()}}
    Register Occupation
{% endblock title%}

{% block page_content %}
<div class = "list-group">
        <span class = "list-group-item">
                <h3 class =  "text-primary list-group-item-header" style = "color : red;">
                        Protect Yourself from Identity Theft
                </h3>
                <div class = "row">
                        <span class = "col-sm-6">                                                                         <img class = "img-rounded" style = "width : 100%; height : auto;" src = "{{url_for('static', filename = 'inform_me/hacking.jpeg')}}" alt = "Media Object">
                                </td>                                                                             </span>
                        <span class = "col-sm-6">
                                <h4 class = "text-muted">                                                                         Handle receipts and mail carefully
                                </h4>
				<ul>
					<li>
						Discard your mail safely.
					</li>
					<li>
						Don’t throw away ATM and credit card receipts in public trash cans.
					</li>
					<li>
						Consider getting a paper shredder for sensitive documents like marketing offers, bank statements, documents, invoices, etc
					</li>
					<li>
						Use official postal service collection boxes for outgoing mail or secure your mailbox.
					</li>
				</ul>
			</span>
		</div>
	</span>
</div>

<div class = "page-header">
	<h3>Register Occupation</h3>
</div>

<div>
	{{wtf.quick_form(form)}}
</div>
{% endblock page_content %}
